.gradle
.settings
bin/
build/
.classpath
.project
target/
config/checkstyle/checkstyle.xml
config/checkstyle/checkstyle.xsl
config/codenarc/codenarc.conf
config/pmd/ruleset.xml
.idea/
*.iml
.checkstyle
.pmd
out/
.DS_Store
**/*.pyc
signed jar files/**/*.jar
test-processes/**/*.properties
src/main/resources/com/rapidminer/extension/resources/html5/dashboard/dist
/.directory
