{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"prettier",
		"plugin:prettier/recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/errors",
		"plugin:import/typescript"
	],
	"env": {
		"es6": true,
		"browser": true,
		"mocha": true,
		"node": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2018,
		"ecmaFeatures": {
			"spread": true
		}
	},
	"plugins": [
		"react",
		"jsx-a11y",
		"react-hooks",
		"prettier",
		"import"
	],
	"rules": {
		// don't force es6 functions to include space before paren
		"space-before-function-paren": 0,
		// allow specifying true explicitly for boolean props
		"react/jsx-boolean-value": 0,
		"comma-spacing": "error",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"import/order": [
			"error",
			{
				"groups": [
					[
						"external",
						"builtin"
					],
					[
						"internal",
						"index",
						"sibling",
						"parent"
					]
				],
				"newlines-between": "always",
				"pathGroups": [
					{
						"pattern": "*.less",
						"group": "index",
						"patternOptions": {
							"matchBase": true
						},
						"position": "after"
					}
				]
			}
		],
		"no-cond-assign": [
			0
		],
		"@typescript-eslint/no-unused-vars": "error",
		"no-unused-vars": "off",
		"comma-dangle": [
			"error",
			"never"
		],
		"jsx-a11y/click-events-have-key-events": 0,
		"jsx-a11y/no-static-element-interactions": 0,
		"jsx-a11y/no-onchange": 0,
		"jsx-a11y/no-autofocus": 0,
		"@typescript-eslint/explicit-function-return-type": [
			"warn",
			{
				"allowTypedFunctionExpressions": true
			}
		],
		"@typescript-eslint/indent": "off",
		"react/prop-types": "off",
		"no-console": "off"
	},
	"settings": {
		"react": {
			"version": "16.13.1"
		},
		"import/resolver": {
			"typescript": {
				"project": "src"
			}
		}
	},
	"overrides": [
		{
			"files": [
				"*.js"
			],
			"rules": {
				"@typescript-eslint/no-var-requires": "off",
				"@typescript-eslint/explicit-function-return-type": "off",
				"@typescript-eslint/explicit-module-boundary-types": "off"
			}
		}
	]
}
